# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# This covers .jpg, .JPG, .jpeg, etc.
vite-project/public/*.[jJ][pP][gG]
vite-project/public/*.[jJ][pP][eE][gG]
vite-project/public/*.[mM][pP]3
vite-project/public/*.[mM][pP]4